<div id="login_wrap" class="flex-wrap">
    <div class="login">
        <h3>林清轩登录</h3>
        <label>工号：<input type="text" ng-model="loginName"></label>
        <label>密码：<input type="password" ng-model="code"></label>
        <button ng-click="userLogin()">登录</button>
    </div>
    <!--<button @click="create">新建数据库</button>
    <button @click="execute">创建表</button>
    <button @click="insert(arr)">插入数据</button>
    <button @click="select">查询数据</button>
    <button @click="clear">清空缓存</button>-->
</div>